<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Validation</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="libs/vuelidate.min.js"></script>
    <script src="libs/validators.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <h1>Form Validation</h1>
  <form @submit.prevent="submitForm" autocomplete="off">
    <div class="form-group">
      <label for="name">Name:</label>
      
      <input v-model="form.name"
             @blur="$v.form.name.$touch()"
             :class="{ error: $v.form.name.$error, valid: !$v.form.name.$invalid}"
             id="name">
             
        <p class="error-message" v-if="$v.form.name.$error">The name field is invalid</p>
        <p>Innalid: {{$v.form.name.$invalid}} >>> Dirty {{$v.form.name.$dirty}}</p>
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      
      <input v-model.number="form.age"
             @blur="$v.form.age.$touch()"
             :class="{ error: $v.form.age.$error, valid: !$v.form.age.$invalid}"
             id="age">
             
        <div v-if="$v.form.age.$error">
        <p class="error-message" v-if="!$v.form.age.required">The age field is required</p>
        <p class="error-message" v-else-if="!$v.form.age.integer">Only integers numbers are allowed</p>
        <p class="error-message" v-else-if="!$v.form.age.between">The age must ne between 6 - 120</p>
        </div>
    </div>

    <div>
      <button >Submit</button>
    </div>
  </form>
</div>

<script src="app.js"></script>
</body>
</html>